body {
	background:#D5DBD5;
	font-family:Arial;
	font-size:20px;
}
header {
	text-align: center
}
p a {
	color:white;
	text-decoration: none;
}
div {
	background: green;
	width:80%;
	margin:50px;
	padding:30px;
	border:10px solid #000;
}
p {
	text-align: left;
}
cite {
	text-decoration: underline;
	color:#E0E5DB;
}